@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 315px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.message_OGP {
    margin: 20px;
    padding: 20px;
    font-size: 120%;
    background-color: #e4e4e4;
    border-radius: 5px;
    max-width: 560px;
    word-wrap: break-word;
    /* 改行を反映 */
    white-space: pre-wrap;
}
