@charset "utf-8";

*:focus {
    outline: none;
}

html {
    word-wrap: normal;
    width: 600px;
    height: 315px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #191919;
}

.message_OGP {
    margin: 20px;
    padding: 20px;
    font-size: 120%;
    background-color: #e4e4e4;
    border-radius: 5px;
}